<!DOCTYPE html>
<html>
    <head>
        <title>Ciutat Comtal | Activities</title>
        <link rel="shortcut icon" href="images/ciutat-comtal-icon.png"/>
        
        <!--Basic Settings-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!--External CSS Bootstrap-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">

        <!--External JQuery-->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>

        <!--External JS Bootstrap-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
        
        <!--Noto Serif Display fonts-->
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@100;300;400;500&display=swap" rel="stylesheet">

        <!--External CSS-->
        <link rel="stylesheet" href="style.css?v=1">

        <!--Internal CSS-->
        <style>
            .buttons {
                border: 1px solid #68a69e;
                background-color: white;
                box-shadow: 1px 1px #b55626;
                color: #b55626;
                outline: none !important;
            }
            .img, .category {
                border: 1px solid #b55626;
                font-weight: 200;
                outline: none;
                transition: 0.5s;
            }
            .img:focus, .category:focus {
                border: 1px solid #68a69e;
                box-shadow: 1px 1px #b55626;
                font-weight: 200;
            }
        </style>
    </head>
    <body>
        <header class="text-center">
            <a href="user-home"><img src="images/ciutat-comtal-logo.png" width="150px" height="150px" aria-label="Ciutat Comtal is another word for Barcelona"></a><br>
        </header>
        <nav class="navbar-expand-lg mx-auto">
            <div class="container">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="admin-home">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="admin-users">USERS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="admin-attractions">ATTRACTIONS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="admin-reservations">RESERVATIONS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="admin-events">EVENTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="admin-activities">ACTIVITIES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="admin-account">ACCOUNT</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div align="center">
            <h1>Activities</h1>
            <% if(data.length != 0) { %>
                <table>
                    <tr>
                        <form method="POST" align="center;">
                            <input class="name" name="name" placeholder="name" style="margin-right: 15px;">
                            <input class="img" name="img" placeholder="image" style="margin-right: 15px;">
                            <input class="category" name="category" placeholder="category" style="margin-right: 15px;"><br>
                            <button class="buttons" formaction="AddActivity" type="submit" value="Add" style="margin-top: 10px;">Add</button><br>
                        </form>
                    </tr>
                    <tr>
                        <th>name</th>
                        <th>img</th>
                        <th>category</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <%data.forEach(function(mydata) { %>
                        <tr>
                            <form method="POST">
                                <td><input class="name" name="name" value="<%=mydata.name%>"></td>
                                <td><input class="img" name="img" value="<%=mydata.img%>"></td>
                                <td><input class="category" name="category" value="<%=mydata.category%>"></td>
                                <td><button class="buttons" formaction="EditActivity?id=<%=mydata._id%>" type="submit" value="Edit">Edit</button></td>
                                <td><button class="buttons" formaction="DeleteActivity?id=<%=mydata._id%>" type="submit" value="Delete">Delete</button></td>
                            </form>
                        </tr>
                    <% })%>
                </table> 
            <%} %>
        </div>
        <footer>
            <span>Check the <a class="footer-map" target="_blank" href="https://goo.gl/maps/AsWbGA4uFBpA6Q5a7">location</a>!</span>
            <br><br>&copy CIUTAT COMTAL, 2022
        </footer>
    </body>
</html>